@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

thead th {
    background: white;
    position  : sticky;
    top       : 0;
    height: 2rem;
    box-shadow: 0 2px 0px 0px black;
    z-index: 1;
}

table {
    border-collapse: collapse;
}

td {
    height: 2rem;
}

tr:nth-child(2n) td:not(.cuatHeader) {
    background: rgba(60, 60, 196, 0.2);
}

.cuatLimit td, .cuatHeader {
    border-top: 1px solid black;
}

.text-center {
    text-align: center;
}

.vertical-text {
    writing-mode: vertical-lr;
}

@keyframes highlight {
    0% {
        background: #ffff99;
    }
    100% {
        background: none;
    }
}

.highlightRow td {
    animation: highlight 2s;
}

.preReq {
    margin: 0 0.1rem;
    padding: 0rem .5rem;
    border-radius: .3rem;
    background: rgb(167, 168, 255);
    cursor: pointer;
    display: inline-block;
}

.preReq:hover {
    background: rgb(106, 109, 253);
}

.preReqExtra, .preReqExtra:hover {
    background: rgb(130, 219, 160);
    cursor: default;
}