@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --background : #ececec;
    --background1: #f6f6f6;
    --tableOdd : rgba(96, 96, 255, 0.15);
    --bgCuat: linear-gradient(90deg, transparent 0%, var(--tableOdd) 100%);
}

html {
    font-family    : 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin        : auto;
    padding-bottom: 3rem;
    background    : var(--background);

    width: fit-content;
}

.card {
    border       : 3px solid black;
    margin       : 1rem;
    padding      : 1rem;
    border-radius: 1rem;
}

thead th {
    background: var(--background);
    position  : sticky;
    top       : 0;
    height    : 2rem;
    box-shadow: 0 2px 0px 0px black;
    z-index   : 1;
}

table {
    border-collapse: collapse;
}

td {
    height: 2rem;
}

tr:nth-child(2n) td:not(.cuatHeader) {
    background: var(--tableOdd)
}

.cuatLimit td,
.cuatHeader {
    border-top: 1px solid black;
}

.text-center {
    text-align: center;
}

.vertical-text {
    writing-mode: vertical-lr;
}

.monospace {
    font-family: 'Roboto Mono', monospace;
}

.fullscreen {
    position: fixed;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
}

@keyframes highlight {
    0% {
        background: #ffff99;
    }

    100% {
        background: none;
    }
}

.highlightRow td {
    animation: highlight 2s;
}

.codigo {
    cursor         : pointer;
    margin         : 0.3rem;
    text-decoration: underline;
}

.preReq {
    margin       : 0 0.1rem;
    padding      : 0rem .5rem;
    border-radius: .3rem;
    background   : rgb(167, 168, 255);
    cursor       : pointer;
    display      : inline-block;
}

.preReq:hover {
    background: rgb(106, 109, 253);
}

.preReqExtra,
.preReqExtra:hover {
    background: rgb(130, 219, 160);
    cursor    : default;
}

.cuatHeader {
    max-width: 2.5rem;
    background: var(--bgCuat);
}

.cuatHeader p {
    margin: 0;
}

.dialogWrapper {
    display        : flex;
    align-items    : center;
    justify-content: center;
    z-index        : 2;
    background     : rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
}

.dialogCard {
    background   : var(--background1);
    padding      : 1rem;
    border-radius: 1rem;
    box-shadow   : 0 0 .5rem 0 rgba(0, 0, 0, 0.3);
}

.btn-primary {
    display      : block;
    padding      : .3rem .5rem;
    margin       : 0.2rem;
    border-radius: .25rem;
    cursor       : pointer;

    background: rgb(84, 86, 235);
    color     : white;
    border    : none;
}

.btn-primary:hover {
    background: rgb(45, 47, 182);
}

@media only screen and (max-width: 1000px) {

    body {
        display       : flex;
        flex-direction: column;
        align-items   : stretch;
    }

    h1,
    h2,
    h3 {
        text-align: center;
    }

    .card {
        margin       : 0;
        padding      : 1rem;
        border       : none;
        border-radius: 0;
        border-bottom: 2px solid black;

        display       : flex;
        flex-direction: column;
        align-items   : center;
    }

    .pensumWrapper {
        padding: 0;
    }
}