body {
    background: #eee;
}
textarea {
    width     : 100%;
    min-height: 300px;
    resize: vertical;
    font-family: 'Fira Code', 'Lucida Console', Courier, monospace;
    font-size: medium;
    padding-left: 1em;
}

#canvasWrapper {
    margin    : 0 auto;
    text-align: center;
}
#commands table {
    border-spacing: 1em 0;
}
.options {
    margin: 1em 0;
}

.card {
    border-radius: 1em;
    background: white;
    margin: 1em 0;
    padding: 1em;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
}

footer {
    text-align: center;
    margin-top: 3em;
    opacity: 0.5;
}