body {
    background: #eee;
}
textarea {
    width     : 100%;
    min-height: 200px;
    resize: vertical;
    font-family: 'Fira Code', 'Lucida Console', Courier, monospace;
    padding-left: 1em;
}

#container_canvas {
    margin    : 0 auto;
    text-align: center;
}
#commands table {
    border-spacing: 0;
    width: 100%;
}
#commands table tr:nth-child(even) td {
    background-color: rgba(0,0,0,5%);
}
#commands table td:first-child {
    min-width: 80px;
    color: rgb(54, 42, 122);
    font-weight: bold;
}
#commands table td:last-child {
    width: auto;
    padding-left: .5em;
}
.options {
    margin: 1em 0;
    min-height: 450px;
}

.card {
    border-radius: 1em;
    background: white;
    margin: 1em 0;
    padding: 1em;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
}

footer {
    text-align: center;
    margin-top: 3em;
    opacity: 0.5;
}

.hidden {
    display: none;
}

button {
    padding: 1em;
}

svg text {
    user-select: none;
}